{% extends "layout.html" %} 


{% block head %}
<title>{{ user[1] }}</title>
{% endblock %} 


{% block body %}
<h1>Detail User</h1>
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <td>{{ user[0] }}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{ user[1] }}</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>{{ user[2] }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user[3] }}</td>
    </tr>
</table>

<div class="mt-3">
    <a href="{{ url_for('get_all_users') }}" class="btn btn-primary">Back</a>
</div>

{% endblock %}

